<div class="about-cbd" style="background-image: url('{{ section.settings.bg-img | img_url:'master' }}');background-size: cover;">
<div class="container-fluid">
  <div class="inner-content">
    <div class="row">
      <div class="col-lg-7">
          <div class="title-black">
                {% if section.settings.heading != blank %}
                    <h2 class="h2">{{ section.settings.heading }}</h2>  
                {% endif %}
            
                {% if section.settings.sub-heading != blank %}
                    <h3 class="h3"> {{ section.settings.sub-heading }}</h3>
                {% endif %}
            </div>
            <div class ="content">
                
                {% if section.settings.text != blank %}
                {{ section.settings.text }}
                {% endif %}
            </div>
      </div>
    </div>
  </div>    
  </div>
</div>
  
  
  
  
  {% schema %}
  {
    "name": "About CBD",
    "settings": [
        {
          "id": "bg-img",
          "type": "image_picker",
          "label": "Background Image"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        },
        {
          "id": "sub-heading",
          "type": "text",
          "label": "Sub Heading "
         
        },
        {
          "id": "text",
          "type": "html",
          "label": "Content"
        }
    ],
    "presets": [
      {
          "name": "About CBD",
          "category": "about"
      }
    ]
  }
    
  {% endschema %}