<div class="general-content" style="background-image: url('{{ section.settings.bg_image | img_url:'master' }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title-black text-center">
					{% if section.settings.heading != blank %}
						<h5 class="h5 text-black text36">{{ section.settings.heading }}</h5>
					{% endif %}
				
					{% if section.settings.subheading != blank %}
						<h2 class="h2">{{ section.settings.subheading }}</h2>
					{% endif %}
				</div>
			</div>
			<div class="content text-center">
				<div>
					{% if section.settings.text != blank %}
						<p>{{ section.settings.text }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>


{% schema %}
{
 "name": "General Content",
 "settings": [
     {
       "id": "bg_image",
       "type": "image_picker",
       "label": "Image"
     },
     {
       "id": "heading",
       "type": "text",
       "label": "Heading"
     },
     {
       "id": "subheading",
       "type": "text",
       "label": "Subheading"
     },
     {
       "id": "text",
       "type": "html",
       "label": "Text"
     }
 ]
}
{% endschema %}