<div class="general-content {% if  section.settings.pattern_select == 'green_bg' %} green-bg-add sm-bg bg-gray {% else %}pattern-add{% endif %}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title-black text-center"> 
					{% if section.settings.heading != blank %}
						<h5 class="h5 text-black text36">{{ section.settings.heading }}</h5>
					{% endif %}
				
					{% if section.settings.subheading != blank %}
						<h2 class="h2">{{ section.settings.subheading }}</h2>
					{% endif %}
				</div>
			</div>
			<div class="content text-center">
				<div>
					{% if section.settings.text != blank %}
						<p>{{ section.settings.text }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>


{% schema %}
{
 "name": "General Content",
 "settings": [
     {
                  "type": "select",
                  "id": "pattern_select",
                  "label":"Select Background Pattern",
                  "default": "leaf",
                  "options": [
                    {
                      "value": "leaf",
                      "label":"Leaf"
                    },
                    {
                      "value": "green_bg",
                      "label": "Green background"
                    }
                  ]
                },
     {
       "id": "heading",
       "type": "text",
       "label": "Heading"
     },
     {
       "id": "subheading",
       "type": "text",
       "label": "Subheading"
     },
     {
       "id": "text",
       "type": "html",
       "label": "Text"
     }
 ]
}
{% endschema %}