
  {%- if collection.image -%}
<div class="breadcrumb" style="background-image: url('{{ collection.image | img_url:'master' }}');background-size: cover;">
  {% else %}
  <div class="breadcrumb" style="background-image: url('{{ section.settings.bg-img | img_url:'master' }}');background-size: cover;">
  {%- endif -%}
  <div class="container">
      <div class="row">
        <div class="heading-bead"></div>
          <div class="col-lg-12">
              {% if collection.handle == 'all'  %}
              <h1>{{ section.settings.heading }}</h1>    
              {% else %}
              <h1>{{ collection.title }}</h1>
              {% endif %}
          </div>
          </div>
      </div>
  </div>
  </div>
  {% schema %}
    {
      "name": "BreadCrumb",
      "class": "index-section",
      "settings": [
      {
        "id": "bg-img",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading"
      }
  ]
    }
  {% endschema %}
  