@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--text18);
}

a:hover {
    transition: .3s linear;
    text-decoration: none;
}

:root {
    --black: #000;
    --white: #fff;
    --fonts: #3D3D3D;
    --darkgreen: #1D9069;
    --applegreen: #88BD62;
    --blackish: #111111;
    --globalfonts: 'Montserrat', sans-serif;
    --titlefonts: 'Work Sans', sans-serif;
    --text18: 18px;
    --text24: 24px;
    --text36: 36px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 30px;
}


/***** Common start *****/

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.container-fluid-sm {
    padding-left: 100px;
    padding-right: 100px;
}

.container-fluid-xl {
    padding-left: 200px;
    padding-right: 200px;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1240px;
    }
}

p {
    margin: 0px;
}

.content p {
    margin: 15px 0 0 0;
    line-height: 30px;
    font-weight: 400;
}

.content.white p {
    color: var(--white);
}

.text24 {
    font-size: var(--text24);
}

.text36 {
    font-size: var(--text36) !important;
}

.global-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-list ul li {
    position: relative;
    padding: 0 0 0 25px;
    margin-top: 10px !important;
}

.global-list ul li:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 10px;
    height: 10px;
    background: var(--darkgreen);
    border-radius: 100px;
}

.two-list ul li {
    width: 50%;
    float: left;
}


/***** Common end *****/


/***** Title Black Start *****/

.h2,
.h3,
.h4 {
    font-family: 'Montserrat', sans-serif;
}

.title-black {
    position: relative;
    margin: 50px 0 0 0;
}

.title-black:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../assets/title-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.title-black.icon-left:before {
    left: 0;
    transform: inherit;
}

.title-black .h2 {
    font-weight: 700;
    color: var(--blackish);
    font-family: 'Montserrat', sans-serif;
}

.title-black .h3 {
    font-weight: 400;
    color: var(--blackish);
    font-family: 'Montserrat', sans-serif;
}

.title-black .h5 {
    font-size: 26px;
    font-weight: 400;
    color: var(--darkgreen);
    font-family: var(--globalfonts);
}

.title-white {
    position: relative;
    margin: 50px 0 0 0;
}

.title-white:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../assets/title-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.title-white .h2 {
    font-weight: 700;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.title-white .h3 {
    font-weight: 400;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.title-white.icon-white:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../assets/title-white-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 40px;
}

.text-black {
    color: var(--blackish) !important;
}


/***** Title Black End *****/


/***** Button start *****/

.btn-custom {
    text-transform: uppercase;
    font-size: var(--text18);
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 0;
    display: inline-block;
    text-decoration: none;
}

.btn-green {
    position: relative;
    overflow: hidden;
    color: var(--white);
    background: var(--applegreen);
}

.btn-green:before,
.btn-green:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--darkgreen);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.btn-green:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.btn-green:after {
    right: -20px;
    transform: translate(50%, -50%);
}

.btn-green:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-green:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-green span {
    color: var(--white);
    z-index: 99;
    position: relative;
}

.btn-rounded {
    border-radius: 100px;
}

.btn-transparent {
    position: relative;
    overflow: hidden;
    color: var(--white);
    background: transparent;
    border: 2px solid var(--white);
    display: inline-block;
    padding: 7px 30px;
    font-size: 20px;
}

.btn-transparent:before,
.btn-transparent:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.btn-transparent:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.btn-transparent:after {
    right: -20px;
    transform: translate(50%, -50%);
}

.btn-transparent:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-transparent:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-transparent span {
    color: var(--white);
    z-index: 99;
    position: relative;
}

.btn-transparent:hover span {
    color: var(--applegreen);
}

.btn-transparent-black {
    position: relative;
    overflow: hidden;
    color: var(--white);
    background: transparent;
    border: 2px solid var(--black);
    display: inline-block;
    padding: 7px 30px;
    font-size: 20px;
}

.btn-transparent-black:before,
.btn-transparent-black:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.btn-transparent-black:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.btn-transparent-black:after {
    right: -20px;
    transform: translate(50%, -50%);
}

.btn-transparent-black:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-transparent-black:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-transparent-black span {
    color: var(--black);
    z-index: 99;
    position: relative;
}

.btn-transparent-black:hover span {
    color: var(--applegreen);
}

.btn-black {
    position: relative;
    overflow: hidden;
    color: var(--white);
    background: var(--blackish);
}

.btn-black:before,
.btn-black:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--darkgreen);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.btn-black:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.btn-black:after {
    right: -20px;
    transform: translate(50%, -50%);
}

.btn-black:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-black:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-black span {
    color: var(--white);
    z-index: 99;
    position: relative;
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}


/***** Button end *****/


/***** announcement-bar.liquid start *****/

.announcement {
    background: var(--black);
    position: relative;
    text-align: center;
    padding: 15px 0;
}

.announcement .announcement-bar-message {
    color: var(--white);
}

.announcement .announcement-close-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.announcement .announcement-close-icon i {
    color: var(--white);
}

.announcement .owl-nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.announcement .owl-nav button {
    outline: none;
    border: none;
}

.announcement .owl-nav button span {
    color: transparent;
}

.announcement .owl-nav button.owl-prev span::before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    color: var(--white);
    font-size: 26px;
}

.announcement .owl-nav button.owl-next span::before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    color: var(--white);
    font-size: 26px;
}

.announcement .owl-dots {
    display: none;
}


/***** announcement-bar.liquid end *****/


/*========================================================================================================================================================*/


/***** Header Start *****/

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
    background: rgba(61, 61, 61, 0.65);
}

.header .navbar-brand {
    margin: 0 50px !important;
}

.header .navbar-brand img {
    max-width: 250px;
}

.header .header-navbar .phoneno {
    position: relative;
}

.header .header-navbar .phoneno img {
    width: 26px;
}

.header .header-navbar .phoneno .contact-numbers {
    position: absolute;
    background: var(--darkgreen);
    padding: 30px;
    z-index: 9;
    width: 300px;
    display: none;
    top: 60px;
    left: -30px;
}

.header .header-navbar .phoneno .contact-numbers:before {
    content: "";
    position: absolute;
    left: 25px;
    top: -20px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 20px solid var(--darkgreen);
}

.header .header-navbar .phoneno .contact-numbers.display {
    display: block;
}

.header .header-navbar .phoneno .contact-numbers a {
    color: var(--white);
    width: 100%;
    display: inline-block;
    padding: 10px 0 0 0;
    font-size: var(--text18);
    text-decoration: none;
}

.header .header-navbar .phoneno .contact-numbers a span {
    font-weight: bold;
}

.header .header-navbar .phoneno .contact-numbers a i {
    padding: 0 6px 0 0;
}

.header .header-navbar ul li a {
    color: var(--white) !important;
    font-size: var(--text18);
    font-weight: 700;
    padding: 0 25px !important;
    text-decoration: none;
}

.header .header-navbar ul li a:hover {
    color: var(--darkgreen) !important;
}

.header .header-navbar ul li a.menu-drawer__menu-item--active {
    color: var(--darkgreen) !important;
}

header.header .header-navbar .search.float-right.active .searchdefault {
    display: none;
}

header.header .header-navbar .search.float-right .searchdefault {
    display: block;
}

header.header .header-navbar .search.float-right .search_active_icon {
    display: none;
}

header.header .header-navbar .search.float-right .search-icon a img {
    width: 26px;
    margin: 5px 0 0 0;
}

header.header .header-navbar .search.float-right.active .search_active_icon {
    display: block;
}

header.header .header-navbar .search.float-right.active form {
    background-color: var(--white);
}

header.header .header-navbar .search.float-right form.navbar-form {
    position: absolute;
    right: -20px;
    bottom: -105px;
    width: 25%;
    display: none;
}

.search.float-right.active form.navbar-form {
    display: block !important;
}

header.header .header-navbar .search.float-right.active form:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 30px;
    top: -20px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 20px solid #fff;
}

header.header .header-navbar .search.float-right.active form .field:before {
    position: absolute;
    content: '';
    top: 65px;
    left: 60px;
    right: 70px;
    background: #0C0D0D;
    width: 70%;
    height: 2px;
    bottom: 0;
}

header.header .header-navbar .search.float-right form.navbar-form .search-input {
    position: relative;
}

header.header .header-navbar .search.float-right.active .search-input:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    top: 70px;
    left: inherit;
    right: 70px;
    background: #0C0D0D;
    width: 75%;
    height: 1px;
    bottom: 0;
}

header.header .header-navbar .search.float-right .inputSearch.active {
    width: 100%;
    text-align: left;
    flex: inherit;
    margin: 0 0 0 20px;
    padding: 40px 55px 50px;
    height: 50px;
    display: block;
    display: table-cell;
    opacity: 1;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: normal;
    color: rgba(61, 61, 61, 0.65);
    background: transparent;
    background: url('../assets/search-black.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
}

header.header .header-navbar .search.float-right .search-close-icon {
    display: none;
    display: block !important;
    position: absolute;
    right: 20px;
    top: 30px;
}

.search.float-right.active .search-close-icon {
    display: block !important;
}

header.header .header-navbar .search-close-icon img {
    width: 25px;
}

.inputSearch input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(61, 61, 61, 0.65);
    font-weight: normal;
}

.inputSearch input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(61, 61, 61, 0.65);
    font-weight: normal;
}

.inputSearch input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(61, 61, 61, 0.65);
    font-weight: normal;
}

.inputSearch input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(61, 61, 61, 0.65);
    font-weight: normal;
}

.phoneno.phoneicon .greenicon {
    display: block;
}

.phoneno.phoneicon .whiteicon {
    display: none;
}

.phoneno .greenicon {
    display: none;
}


/***** Header End *****/


/*========================================================================================================================================================*/


/***** Home-slider Start *****/

.Home-slider .item {
    width: 100%;
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 200px;
}

.Home-slider .mobile-image {
    display: none !important;
}

.Home-slider .item .container {
    max-width: 1440px;
}

.Home-slider .item .h1 {
    font-size: 75px !important;
}

.Home-slider .item .h4,
.Home-slider .item .h1 {
    color: var(--white);
    font-size: 50px;
}

.Home-slider .item .h4 {
    font-weight: 400;
    max-width: 500px;
}

.Home-slider .item .h1 {
    font-weight: bold;
    font-family: var(--globalfonts);
}

.Home-slider .item .btn-custom {
    margin: 30px 0 0 0;
}

.Home-slider .item .content.align-right {
    float: right;
}

.Home-slider .item .content.align-right h4 {
    max-width: inherit;
}

.Home-slider .owl-nav {
    display: none;
}

.Home-slider .owl-dots {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
}

.Home-slider .owl-dots button {
    outline: none;
    width: 10px;
    height: 10px;
    background: var(--white);
    border-radius: 100px;
    margin: 0 15px;
    position: relative;
}

.Home-slider .owl-dots button.active {
    background: var(--applegreen);
}

.Home-slider .owl-dots button.active:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 26px;
    height: 26px;
    border: 2px solid var(--white);
    border-radius: 100px;
}


/***** Home-slider End *****/


/*========================================================================================================================================================*/


/***** About CBD Start *****/

.about-cbd {
    padding: 100px 0;
}

.about-cbd .inner-content {
    padding-left: 200px;
    text-align: center;
}

.about-cbd .inner-content .content {
    display: inline-block;
    margin: 30px 0 0 0;
}


/***** About CBD End *****/


/*========================================================================================================================================================*/


/***** Shop Bestseller Start *****/

.bestseller-shop {
    width: 100%;
    float: left;
    padding: 100px 0;
    position: relative;
}

.bestseller-shop:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    height: 500px;
    background: url('../assets/best-seller-bg1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bestseller-shop:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 200px;
    background: url('../assets/best-seller-bg2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bestseller-shop .bestseller-slider {
    margin: 50px 0 0 0;
}

.bestseller-shop .bestseller-slider .owl-stage-outer {
    z-index: 9;
}

.bestseller-shop .bestseller-slider .item {
    padding: 0 30px;
    position: relative;
}

.bestseller-shop .bestseller-slider .item:hover:before {
    content: "";
    position: absolute;
    top: 50px;
    left: 70px;
    width: 260px;
    height: 260px;
    background: url('../assets/product-hover.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bestseller-shop .bestseller-slider .item img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    position: relative;
    margin: 0 auto;
}

.bestseller-shop .bestseller-slider .item .best-product .product-details {
    text-align: center;
    margin: 30px 0 0 0;
}

.bestseller-shop .bestseller-slider .item .best-product .product-details h5 {
    font-size: 24px;
    color: var(--blackish);
    font-weight: 400;
    font-family: var(--globalfonts);
    line-height: 36px;
}

.bestseller-shop .bestseller-slider .item .best-product .product-details .get-price h6 {
    font-size: 24px;
    font-weight: 700;
    color: var(--blackish);
    font-family: var(--globalfonts);
}

.bestseller-shop .bestseller-slider .item:hover .product-details h5,
.bestseller-shop .bestseller-slider .item:hover .product-details .get-price h6 {
    color: var(--darkgreen);
}

.bestseller-shop .owl-nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.bestseller-shop .owl-nav button {
    outline: none;
    border: none;
}

.bestseller-shop .owl-nav button span {
    color: transparent;
}

.bestseller-shop .owl-nav button.owl-prev {
    position: relative;
    left: -50px;
}

.bestseller-shop .owl-nav button.owl-next {
    position: relative;
    right: -50px;
}

.bestseller-shop .owl-nav button.owl-prev span::before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    color: var(--applegreen);
    font-size: 26px;
}

.bestseller-shop .owl-nav button.owl-next span::before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    color: var(--applegreen);
    font-size: 26px;
}

.bestseller-shop .owl-dots {
    display: none;
}


/***** Shop Bestseller End *****/


/*========================================================================================================================================================*/


/***** What CBD Start *****/

.what-cbd {
    width: 100%;
    float: left;
    padding: 30px 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.what-cbd:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(298deg, rgba(0, 0, 0, 0.85) 25.88%, rgba(0, 0, 0, 0) 76.46%);
}

.what-cbd .background-overlay {
    background: rgba(61, 61, 61, 0.65);
    padding: 50px;
}

.what-cbd .background-overlay .content {
    margin: 30px 0 0 0;
}


/***** What CBD End *****/


/*========================================================================================================================================================*/


/***** How CBD Work Start *****/

.how-cbd-work {
    width: 100%;
    float: left;
    padding: 100px 0;
    position: relative;
}

.how-cbd-work:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 700px;
    background: url('../assets/cbd-bg1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.how-cbd-work:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 477px;
    background: url('../assets/cbd-bg2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.how-cbd-work .cbd-img {
    margin: 30px 0 0 30px;
}

.how-cbd-work .cbd-img img {
    max-width: 550px;
}

.how-cbd-work .content {
    margin: 50px 0 0 0;
}

.how-cbd-work .content p {
    color: var(--black);
}


/***** How CBD Work End *****/


/*========================================================================================================================================================*/


/***** CBD Use Start *****/

.cbd-use {
    width: 100%;
    float: left;
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.cbd-use .content {
    width: 60%;
    margin: 0 auto;
}

.cbd-use .content p {
    color: var(--black);
}

.cbd-use .use-content {
    margin: 50px 0 0 0;
}

.cbd-use .use-content .img-grid {
    padding: 0 10px;
}

.cbd-use .use-content img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
    display: inherit;
    mask-image: url('../assets/mask-img-bg.png');
    -webkit-mask-image: url('../assets/mask-img-bg.png');
    -webkit-mask-size: 240px 240px;
}

.cbd-use .use-content .text24 {
    font-weight: 700;
    text-align: center;
    margin: 50px 0 0 0;
    color: var(--blackish);
    font-family: var(--globalfonts);
    font-weight: 700;
    font-size: var(--text24);
}

.cbd-use .use-content p {
    margin: 20px 0 0 0;
    font-weight: 400;
    line-height: 30px;
}


/***** CBD Use End *****/


/*========================================================================================================================================================*/


/***** Customer Review Start *****/

.customer-review {
    width: 100%;
    float: left;
    padding: 100px 0;
    position: relative;
}

.customer-review .container-fluid-xl {
    position: relative;
    z-index: 99;
}

.customer-review:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url('../assets/customer-review-bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.customer-review:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background: url('../assets/customer-review-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.customer-review .item {
    background: #2b2b2b;
    padding: 60px;
    filter: grayscale();
}

.customer-review .item img {
    max-width: 150px;
}

.customer-review .item p {
    color: #848484;
    margin: 30px 0 0 0;
    font-weight: 400;
}

.customer-review .item .author-info {
    color: #848484;
    text-align: right;
    margin: 50px 0 0 0;
}

.customer-review .item .author-info h3 {
    font-size: 18px;
    font-weight: 700;
}

.customer-review .item .author-info p {
    margin: 0;
    font-weight: 300;
}

.customer-review .owl-item.active .item {
    background: #3d3d3d;
    filter: inherit;
}

.customer-review .owl-item.active .item p {
    color: var(--white);
}

.customer-review .owl-item.active .item .author-info {
    color: var(--white);
}

.customer-review .owl-stage {
    position: relative;
    left: 150px;
}

.customer-review .owl-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.customer-review .owl-nav button {
    outline: none;
    border: none;
}

.customer-review .owl-nav .owl-prev {
    display: none;
}

.customer-review .owl-nav button span {
    color: transparent;
}

.customer-review .owl-nav button.owl-next span::before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    color: var(--applegreen);
    font-size: 30px;
    position: relative;
    left: 30px;
}


/***** Customer Review End *****/


/*========================================================================================================================================================*/


/***** Services Start *****/

.service {
    width: 100%;
    float: left;
    padding: 100px 0 50px;
    color: var(--white);
    background-size: cover;
    background-repeat: no-repeat;
}

.service .services-block {
    margin: 30px 0 0 0;
}

.service .services-block .service-logo {
    background: url('../assets/icon-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .services-block .content .text24 {
    font-family: var(--globalfonts);
    font-weight: 700;
    margin: 30px 0 0 0;
}

.service .services-block .col-lg-6 {
    margin-bottom: 60px;
    padding: 0 70px;
}

.service .services-block .btn-transparent {
    display: inline-block;
    margin: 10px 0 0 0;
    text-transform: capitalize;
}


/***** Services End *****/


/*========================================================================================================================================================*/


/***** Footer Start *****/

.contact-loaction {
    width: 100%;
    float: left;
    padding: 80px 0;
    color: var(--white);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-loaction:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(37.32% 37.32% at 14.77% 62.43%, #111111 0%, rgba(17, 17, 17, 0.804499) 39.68%, rgba(17, 17, 17, 0.428222) 74.78%, rgba(17, 17, 17, 0) 100%);
    opacity: 0.48;
}

.contact-loaction .contact-information {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contact-loaction .contact-information .info-bx {
    background: rgba(11, 11, 11, 0.92);
    width: 265px;
    height: 265px;
    border-radius: 1000px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-loaction .contact-information .info-bx .info-bx-inner {
    padding: 0 40px;
}

.contact-loaction .contact-information .info-bx p b {
    margin: 0 0 5px 0;
    display: inline-block;
}

.contact-loaction .contact-information .info-bx p {
    line-height: 30px;
}

.contact-loaction .contact-information .info-bx a {
    color: var(--white);
    font-weight: 700;
    display: inline-block;
    margin: 5px 0 0 30px;
    position: relative;
}

.contact-loaction .contact-information .info-bx a:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -30px;
    background: url('../assets/phone-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.contact-loaction .contact-information .info-bx a:hover {
    color: var(--applegreen);
}

.disclamer-fda {
    width: 100%;
    float: left;
    padding: 80px 0;
    text-align: center;
    color: var(--white);
    background-size: cover;
    background-repeat: no-repeat;
}

.disclamer-fda .h3 {
    font-size: 22px;
    font-weight: 700;
    font-family: var(--titlefonts);
}

.disclamer-fda .content {
    display: inline-block;
    margin: 10px 0 0 0;
}

.newsletter {
    width: 100%;
    float: left;
    background: var(--black);
    padding: 50px 0;
}

.newsletter .logo-head {
    color: var(--white);
    display: flex;
}

.newsletter .logo-head .heading {
    padding: 0 0 0 30px;
}

.newsletter .logo-head .heading h2 {
    font-size: 40px;
    font-weight: 700;
}

.newsletter .logo-head .heading h3 {
    font-weight: 400;
    font-size: 26px;
    font-family: var(--globalfonts);
}

.newsletter .footer-block__newsletter {
    float: right;
    width: 100%;
    text-align: right;
}

.newsletter .footer-block__newsletter .newsletter-form__field-wrapper {
    position: relative;
}

.newsletter .footer-block__newsletter .newsletter-form__field-wrapper .field input {
    width: 100%;
    padding: 8px 8px 8px 20px;
    outline: none;
    border: none;
}

.newsletter .footer-block__newsletter .newsletter-form__field-wrapper .field input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(61, 61, 61, 0.45);
    font-weight: normal;
}

.newsletter .footer-block__newsletter .newsletter-form__field-wrapper .field input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(61, 61, 61, 0.45);
    font-weight: normal;
}

.newsletter .footer-block__newsletter .newsletter-form__field-wrapper .field input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(61, 61, 61, 0.45);
    font-weight: normal;
}

.newsletter .footer-block__newsletter .newsletter-form__field-wrapper .field input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(61, 61, 61, 0.45);
    font-weight: normal;
}

.newsletter .footer-block__newsletter .newsletter-form__field-wrapper .field button {
    position: absolute;
    top: 0;
    outline: none;
    border: none;
    padding: 8px 30px;
    right: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-btm {
    padding: 50px 0 0 0;
    margin: 30px 0 0 0;
    border-top: 1px solid var(--white);
}

.footer-btm ul.footer__list-social {
    padding: 0 0 0 30px;
}

.footer-btm ul.footer__list-social li {
    float: left;
    margin: 0 28px 0 0;
}

.footer-btm ul.footer__list-social li a {
    transition: transform .8s ease-in-out;
    display: inline-block;
}

.footer-btm ul.footer__list-social li a:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.footer-btm .footer__copyright {
    text-align: right;
    color: var(--white);
}

.footer-btm .footer__copyright a {
    color: var(--white);
}

.footer-btm .footer__copyright small.copyright__content {
    position: relative;
    padding: 0 20px 0 0;
}

.footer-btm .footer__copyright small.copyright__content:before {
    content: "";
    position: absolute;
    top: 0;
    right: 4px;
    width: 1px;
    height: 100%;
    background: var(--white);
}

#techyscouts-logo-heart {
    color: var(--darkgreen);
}


/***** Footer End *****/


/*========================================================================================================================================================*/


/***** Breadcrumb Start *****/

.breadcrumb {
    width: 100%;
    float: left;
    height: 500px;
    display: flex;
    align-items: center;
    padding-top: 80px;
    margin: 0;
    border-radius: 0px;
}

.breadcrumb .container {
    max-width: 1440px;
}

.breadcrumb h1 {
    color: var(--white);
    font-weight: 700;
    font-family: var(--globalfonts);
}


/***** Breadcrumb End *****/


/***** About Us Start *****/

.about-us {
    width: 100%;
    float: left;
    padding: 80px 0;
    position: relative;
}

.about-us .container {
    position: relative;
    z-index: 9;
}

.about-us .content {
    padding: 0 0 0 50px;
}

.general-content {
    width: 100%;
    float: left;
    padding: 80px 0;
    position: relative;
}

.general-content .content {
    position: relative;
    z-index: 9;
    margin: 20px 0 0 0;
}


/***** About Us End *****/


/*========================================================================================================================================================*/


/***** FAQ Start *****/

.faq-accordian {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.faq-accordian .accordion {
    width: 100%;
    float: left;
    padding: 50px 0 0 0;
}

.faq-accordian .accordion .card {
    margin: 0 0 30px 0;
}

.faq-accordian .accordion .card-header {
    background: var(--black);
    border-radius: 0;
    padding-right: 40px;
}

.faq-accordian .accordion .card-header h2 a {
    color: var(--white);
    font-size: var(--text24);
    font-weight: 700;
    text-decoration: none;
    border-radius: 0;
}

.faq-accordian .accordion .card-body {
    background: var(--fonts);
    padding: 40px 60px;
}

.faq-accordian .accordion .card-body p {
    color: var(--white);
}

.faq-accordian .accordion .card .card-header h2 a.collapsed:before,
.faq-accordian .accordion .card .card-header h2 a:before {
    right: 30px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    position: absolute;
    top: 38px;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
}

.faq-accordian .accordion .card .card-header h2 a.collapsed:before {
    content: "\F067";
}

.faq-accordian .accordion .card .card-header h2 a:before {
    content: "\F068";
}


/***** FAQ End *****/


/*========================================================================================================================================================*/


/***** Our Services Start *****/

.our-services {
    width: 100%;
    float: left;
    padding: 50px 0 70px;
    /* background: linear-gradient(180deg, #F1F1F1 0%, #FCFCFC 68.35%); */
    position: relative;
}

.our-services .our-services-block {
    width: 100%;
    float: left;
    padding: 50px 0 0 0;
}

.our-services .our-services-block .h2 {
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
}

.our-services .our-services-block .btn-transparent-black {
    margin: -10px 0 0 20px;
}

.our-services .our-services-block .image {
    text-align: center;
}

.our-services .our-services-block .image img {
    width: 365px;
    height: 365px;
    object-fit: cover;
    -webkit-mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-size: 350px 350px;
    margin: 0 auto;
    -webkit-mask-repeat: no-repeat;
}


/***** Our Services End *****/


/*========================================================================================================================================================*/


/***** Contact Start *****/

.contact-us {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.contact-us .container-fluid-xl {
    position: relative;
    z-index: 9;
}

.contact-us ul.nav {
    margin: 0 0 50px 0;
    border: none;
    text-align: center;
    justify-content: center;
}

.contact-us ul.nav li {
    margin: 0 20px;
}

.contact-us ul.nav li a {
    border: 2px solid var(--darkgreen);
    color: var(--darkgreen);
    font-weight: 700;
    font-size: 20px;
    padding: 8px 80px;
    border-radius: 100px;
    background: var(--white);
}

.contact-us ul.nav li a:hover {
    background: var(--applegreen);
    color: var(--white);
    border: 2px solid var(--applegreen);
}

.contact-us ul.nav li a.active {
    border: 2px solid var(--applegreen);
    color: var(--white);
    box-shadow: none;
    background: var(--applegreen);
}

.contact-us .ct-info {
    padding: 30px 0 0 0;
}

.contact-us .ct-info h6 {
    font-weight: 700;
    font-size: 18px;
    color: var(--fonts);
}

.contact-us .ct-info h6 img {
    margin: 0 5px 0 0;
}

.contact-us .ct-info .address-detail {
    padding: 0 0 0 25px;
}

.contact-us .btn-direction {
    margin: 30px 0 0 0;
}

.contact-us .ct-info a {
    color: var(--darkgreen);
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 30px 0;
    display: inline-block;
}

.contact-us .ct-info a:hover {
    color: var(--applegreen);
}

.contact-us .ct-info img {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
}

.contact-us .oh-info {
    width: 100%;
    float: left;
    border-top: 1px solid rgba(61, 61, 61, 0.3);
    padding: 30px 0 0 0;
    margin: 30px 0 0 0;
}

.contact-us .oh-info h3 {
    font-weight: 700;
    font-size: 40px;
    color: var(--blackish);
    font-family: var(--globalfonts);
}

.contact-us .oh-info ul {
    padding: 0;
    display: inline-block;
    column-count: 2;
}

.contact-us .oh-info ul li {
    list-style: none;
    font-weight: 400;
    margin: 5px 0 0 0;
    width: 100%;
    float: left;
}

.contact-us iframe {
    width: 100%;
    height: 100%;
    margin: 0 0 0 50px;
    box-shadow: 0px 4px 11px -2px rgba(0, 0, 0, 0.25);
}

.contact-page {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.contact-page p {
    font-size: 26px;
    color: var(--darkgreen);
    font-family: var(--globalfonts);
    margin: 15px 0 0 0;
}

.contact-page .contact-form {
    width: 100%;
    float: left;
    padding: 30px 0 0 0;
}

.contact-page .contact-form .field {
    margin: 0 0 35px 0;
}

.contact-page .contact-form .field input,
.contact-page .contact-form .field textarea {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border-radius: 0;
    border: 1px solid var(--blackish);
}

.contact-page .contact-form .field textarea {
    height: 175px;
}

.contact-page .contact-form .field input::-webkit-input-placeholder,
.contact-page .contact-form .field textarea::-webkit-input-placeholder {
    color: rgba(61, 61, 61, 0.30);
    font-weight: normal;
}

.contact-page .contact-form .field input::-moz-placeholder .contact-page .contact-form .field textarea::-moz-placeholder {
    color: rgba(61, 61, 61, 0.30);
    font-weight: normal;
}

.contact-page .contact-form .field input:-ms-input-placeholder .contact-page .contact-form .field textarea:-ms-input-placeholder {
    color: rgba(61, 61, 61, 0.30);
    font-weight: normal;
}

.contact-page .contact-form .field input:-moz-placeholder .contact-page .contact-form .field textarea:-moz-placeholder {
    color: rgba(61, 61, 61, 0.30);
    font-weight: normal;
}

.contact-page .contact-form .contact__button {
    text-align: center;
    display: inline-block;
}

.contact-page .contact-form .contact__button button {
    border: none;
    background: none;
    position: relative;
    z-index: 9;
    padding: 12px 50px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}


/***** Contact End *****/


/*========================================================================================================================================================*/


/***** Product Focus and Events Start *****/

.zigzag-wrapper {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.zigzag-wrapper .container-fluid-xl {
    position: relative;
    z-index: 9;
}

.zigzag-wrapper .image img {
    width: 430px;
    height: 430px;
    object-fit: cover;
    display: inherit;
    mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-size: 430px 430px;
    -webkit-mask-repeat: no-repeat;
    margin: 0 auto;
}

.zigzag-wrapper .content {
    margin: 30px 0 0 0;
}

.dark-bg-content {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.dark-bg-content .dark-bg-content-inner {
    background: rgba(61, 61, 61, 0.65);
    padding: 50px;
    color: var(--white);
}

.dark-bg-content .dark-bg-content-inner .content {
    margin: 30px 0 0 0;
}


/***** Product Focus and Events End *****/


/*========================================================================================================================================================*/


/***** Blog Start *****/

.feature_blog {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.feature_blog .title a h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--globalfonts);
    color: var(--blackish);
}

.feature_blog .meta-blog {
    width: 100%;
    float: left;
    display: flex;
}

.feature_blog .meta-blog span {
    margin: 0 20px 0 0;
    font-family: var(--globalfonts);
    display: flex;
    align-items: center;
    font-size: 14px;
}

.feature_blog .meta-blog span img {
    margin: 0 8px 0 0;
}

.feature_blog .meta-blog span a {
    color: var(--blackish);
}

.feature_blog .meta-blog span a:hover {
    color: var(--darkgreen);
}

.feature_blog .content-blog {
    width: 100%;
    float: left;
    padding: 20px 0 0 0;
}

.feature_blog .image img {
    width: 430px;
    height: 430px;
    object-fit: cover;
    mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-size: 430px 430px;
    -webkit-mask-repeat: no-repeat;
    margin: 0 auto;
}

.all-blog {
    width: 100%;
    float: left;
    padding: 100px 0;
}

.all-blog .container {
    position: relative;
    z-index: 9;
}

.all-blog article.article-card {
    text-align: center;
    margin: 0 0 80px 0;
}

.all-blog .article-card__image {
    justify-content: center;
}

.all-blog .article-card__image-wrapper img {
    width: 325px;
    height: 325px;
    object-fit: cover;
    mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-size: 325px 325px;
    -webkit-mask-repeat: no-repeat;
    margin: 0 auto;
}

.all-blog .article-card__info {
    margin: 50px 0 0 0;
}

.all-blog .article-card__info .title a h2 {
    font-weight: 700;
    color: var(--blackish);
    font-size: var(--text24);
    font-family: var(--globalfonts);
}

.all-blog .article-card__info .title a h2:hover {
    color: var(--darkgreen);
}

.all-blog .meta-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-blog .meta-blog span {
    margin: 0 20px 10px 0;
    font-family: var(--globalfonts);
    display: flex;
    align-items: center;
    font-size: 14px;
}

.all-blog .meta-blog span img {
    margin: 0 8px 0 0;
}

.all-blog .meta-blog span a {
    color: var(--blackish);
}

.all-blog .meta-blog span a:hover {
    color: var(--darkgreen);
}

.all-blog .content-blog {
    width: 100%;
    float: left;
    padding: 20px 0 0 0;
}

.all-blog .blog-link {
    margin: 50px 0 0 0;
    display: inline-block;
}

.pagination-wrapper nav {
    justify-content: center;
}

.pagination-wrapper nav ul {
    display: flex;
    align-items: center;
}

.pagination-wrapper nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.pagination-wrapper nav ul li span {
    font-weight: bold;
    font-size: var(--text24);
    color: var(--darkgreen);
}

.pagination-wrapper nav ul li a {
    font-weight: bold;
    font-size: var(--text24);
    color: var(--applegreen);
}

.pagination-wrapper nav ul li a.pagination__item--next {
    position: relative;
    background: url('../assets/next-black-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin: 12px 0 0 0;
}

.pagination-wrapper nav ul li a.pagination__item--prev {
    position: relative;
    background: url('../assets/prev-black-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin: 12px 0 0 0;
}

.pagination-wrapper nav ul li a svg {
    display: none;
}


/***** Blog End *****/


/*========================================================================================================================================================*/


/***** Single Blog Start *****/

.single-blog {
    width: 100%;
    float: left;
    padding: 200px 0 100px;
}

.single-blog .article-img {
    float: left;
    margin: 0 50px 20px 0;
}

.single-blog .article-img img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-size: 450px 450px;
    -webkit-mask-repeat: no-repeat;
    margin: 0 auto;
}

.single-blog .title a h2 {
    font-weight: 700;
    font-size: 40px;
    font-family: var(--globalfonts);
    color: var(--blackish);
}

.single-blog .title a h2:hover {
    color: var(--darkgreen);
}

.single-blog .meta-blog {
    display: flex;
    margin: 15px 0 30px 0;
}

.single-blog .meta-blog span {
    margin: 0 20px 10px 0;
    font-family: var(--globalfonts);
    display: flex;
    align-items: center;
    font-size: 14px;
}

.single-blog .meta-blog span img {
    margin: 0 8px 0 0;
}

.single-blog .meta-blog span a {
    color: var(--blackish);
}

.single-blog .meta-blog span a:hover {
    color: var(--darkgreen);
}


/***** Single Blog Start *****/


/*========================================================================================================================================================*/


/***** Shop Start *****/

.shop-main {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.shop-main .container-fluid-xl {
    position: relative;
    z-index: 9;
}

.shop-main .collection-filters__item.sorting.caption {
    width: 100%;
    float: right;
    margin: 0 0 50px 0;
}

.shop-main .collection-filters__field {
    float: right;
}

.shop-main select {
    padding: 15px 30px 15px 50px;
    color: var(--white);
    width: 430px;
    border-radius: 0px;
    background: url('../assets/plus.svg') #000;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    outline: none;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.shop-main select.select-active {
    background: url('../assets/minus.svg') #000;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    outline: none;
}

.shop-main .select {
    position: relative;
}

.shop-main .select:before {
    content: "";
    position: absolute;
    top: 32px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    transform: translateY(-50%);
    background-position: center !important;
    background: url('../assets/filter.svg');
}

.shop-main .select svg {
    display: none;
}

.shopmain-grid {
    width: 100%;
    float: left;
    margin: 50px 0 0 0;
}

.shop-main .card-wrapper {
    margin: 0 0 100px 0;
}

.shop-main .card-wrapper .card,
.template-search .card {
    border: none;
    text-align: center;
}

.shop-main .card-wrapper .card .media {
    justify-content: center;
}

.shop-main .card-wrapper .card .media img,
.template-search .card .media img {
    width: 100%;
    height: 280px;
    object-fit: contain;
}

.template-search .col-lg-3 {
    margin: 0 0 50px 0;
}

.template-search .card-article-info {
    margin-bottom: 15px;
}

.shop-main .card-wrapper .card-information {
    text-align: center;
    padding: 70px 0 0 0;
}

.shop-main .card-wrapper .card-information span.card-information__text.h5 {
    min-height: 110px;
    display: inline-block;
}

.shop-main .card-wrapper .card-information span {
    font-weight: bold;
    line-height: 36px;
    font-size: var(--text24);
    font-family: var(--globalfonts);
}

.shop-main .card-wrapper .card-information .prod-price h6 {
    margin: 20px 0 0 0;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--globalfonts);
}

.shop-main .card-wrapper .card-information .prod-btn {
    margin: 30px 0 0 0;
}

.shop-main .card-wrapper .card-information .prod-btn a span {
    font-size: 18px;
}


/***** Shop End *****/


/*========================================================================================================================================================*/


/***** Single Product Start *****/

.single-product {
    width: 100%;
    float: left;
    margin: 115px 0 0 0;
    padding: 0;
}

.single-product .product {
    padding: 120px 0;
}

.single-product .product__info-container h1 {
    font-family: var(--globalfonts);
    font-weight: 700;
    font-size: 40px;
}

.single-product .product__description {
    margin: 50px 0 0 0;
}

.single-product .category-base {
    margin: 50px 0 0 0;
    float: left;
}

.single-product .category-base h3 {
    font-weight: 700;
    font-family: var(--globalfonts);
    font-size: var(--text24);
}

.single-product .category-base a {
    color: var(--blackish);
}

.single-product .category-base a:hover {
    color: var(--darkgreen);
}

.single-product .social-sharing {
    padding: 0;
    margin: 50px 0 0 0;
    list-style: none;
    float: right;
}

.single-product .social-sharing li {
    display: inline-block;
}

.single-product .social-sharing li a {
    transition: transform .8s ease-in-out;
    display: inline-block;
}

.single-product .social-sharing li a:hover {
    transform: rotate(360deg);
}

.single-product .grid__item.product__media-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    margin: 0 5% 0 0;
}

.single-product #sync1 .image-prod img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;
    display: inherit;
    mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-size: 500px 500px;
}

.single-product #sync1 .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -100px;
    width: 100%;
    z-index: 99999;
}

.single-product #sync1 .owl-nav button {
    border: none;
    outline: none;
    margin: 0 5px;
}

.single-product #sync1 .owl-nav button svg {
    display: none;
}

.single-product #sync1 .owl-nav button.owl-prev {
    position: relative;
    background: url(../assets/next-black-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin: 12px 0 0 0;
}

.single-product #sync1 .owl-nav button.owl-next {
    position: relative;
    background: url(../assets/prev-black-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin: 12px 0 0 0;
}

.single-product #sync2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.single-product #sync2 .image-prod img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
    display: inherit;
    mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-size: 100px 100px;
}

.single-product #sync2 .owl-stage {
    margin: 0 auto;
}

.single-product #sync2 .image-prod {
    position: relative;
    padding: 10px;
}

.single-product #sync2 .image-prod:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background: url('../assets/product-hover2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.single-product .product-benefit {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.single-product .product-benefit ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0 0 0;
}

.single-product .product-benefit ul li {
    width: inherit;
    float: none;
    margin: 0 30px;
}

.single-product .product-benefit .image img {
    width: 430px;
    height: 430px;
    object-fit: cover;
    margin: 0 auto;
    display: inherit;
    mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-image: url(../assets/mask-img-bg.png);
    -webkit-mask-size: 430px 430px;
}

.single-product .product-fulldesc {
    width: 100%;
    float: left;
    padding: 80px 0;
    position: relative;
}


/***** Single Product End *****/


/*========================================================================================================================================================*/


/***** Default-page start *****/

.default-page {
    width: 100%;
    float: left;
    padding: 80px 0;
}

.default-page h1,
.default-page h2,
.default-page h3,
.default-page h4,
.default-page h5 {
    font-weight: 700;
    color: var(--blackish);
}

.default-page h1 {
    font-size: 50px;
    line-height: 60px;
}

.default-page h2 {
    font-size: 40px;
    line-height: 50px;
}

.default-page h3 {
    font-size: 30px;
    line-height: 40px;
}

.default-page h4 {
    font-size: 26px;
    line-height: 30px;
}

.default-page h5 {
    font-size: 20px;
    line-height: 30px;
}

.default-page h6 {
    font-size: 18px;
    line-height: 20px;
}

.default-page ol {
    padding: 0;
    margin: 20px 0 20px 20px;
}

.default-page ul {
    padding: 0;
    list-style: none;
    margin: 20px 0 20px 0;
}

.default-page ul li {
    position: relative;
    padding: 0 0 0 25px;
    margin-top: 10px !important;
}

.default-page ul li:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 10px;
    height: 10px;
    background: var(--darkgreen);
    border-radius: 100px;
}

.default-page p {
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0 0 0;
}


/***** Default-page end *****/


/*========================================================================================================================================================*/


/***** Search page Start *****/

.template-search {
    width: 100%;
    float: left;
    padding: 50px 0;
}

.template-search p {
    text-align: center;
}

.template-search .template-search__results {
    margin-top: 50px;
}

.template-search .template-search__results span.card-information__text.h5 {
    font-weight: bold;
    line-height: 36px;
    font-size: var(--text24);
    text-align: center;
    margin: 20px 0;
    width: 100%;
    display: inline-block;
}


/***** Search page End *****/

.pattern-add {
    position: relative;
}

.pattern-add:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    height: 500px;
    background: url(../assets/best-seller-bg1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.pattern-add:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 200px;
    background: url(../assets/best-seller-bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.green-bg-add {
    position: relative;
    background: linear-gradient(180deg, #F1F1F1 0%, #FCFCFC 68.35%);
}

.green-bg-add:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 800px;
    background: url(../assets/canabis-garden-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.sm-bg:before {
    height: 500px;
    background: url(../assets/canabis-garden-bg2.png);
}

.bg-gray {
    background: linear-gradient(180deg, #F1F1F1 0%, #FCFCFC 68.35%);
}

.lazyload,
.lazyloading {
    opacity: 0
}

.lazyloaded {
    opacity: 1;
    transition: opacity.1s
}

.pagenotfound {
    padding: 50px 0;
}

.pagenotfound h2 {
    font-weight: 700;
    font-size: 40px;
    margin: 0 0 20px 0;
}

.search-open {
    overflow-x: hidden;
}

.footer-btm ul.footer__list-social li a img {
    max-width: 30px;
}

.newsletter-form__message, .form__message {
    color: #fff;
    margin: 5px 0 0 0;
    display: inline-block;
}

.newsletter-form__message svg  {
    width: 20px;
    position: relative;
    top: 5px;
}
      form__message svg {
      	width: 20px;
        position: relative;
        top: 5px;
      }
      .shopify-challenge__container {
    margin-top: 150px;
    margin-bottom: 60px;
}
      
      .header.header-fixed {
      	position: fixed;
		top: 0 !important;
		left: 0;
		width: 100%;
		z-index: 9999;
		padding: 0px; 
/* 		animation-name: stickySlideDown;
		animation-duration: .5s; */
		transition: .5s;
		border-top: none;
      }
      @keyframes stickySlideDown{
        0%{
            opacity:.7;
            transform:translateY(-100%)}
        to{
            opacity:1;
            transform:translateY(0)
        }
    }